<style>
  .main-swiper--tp .swiper-button-next {
    left: auto;
    right: unset;
    left: 530px;
    top: 95%;
  }

  .main-swiper--tp .swiper-button-prev {
    left: 10px;
    right: unset;
    top: 95%;
  }

  .main-swiper--tp .swiper-horizontal > .swiper-pagination-bullets,
  .main-swiper--tp .swiper-pagination-bullets.swiper-pagination-horizontal,
  .main-swiper--tp .swiper-pagination-custom,
  .main-swiper--tp .swiper-pagination-fraction {
    bottom: unset;
    top: -12px;
    left: 0;
    width: 565px;
  }

  .main-swiper--tp .swiper-pagination {
    text-align: left;
  }

  .main-swiper--tp .swiper-pagination-bullet {
    width: 95px;
    height: 6px;
    display: inline-block;
    border-radius: 0;
    background: #f2f2f2;
  }

  .main-swiper--tp .swiper-horizontal > .main-swiper--tp .swiper-pagination-bullets .swiper-pagination-bullet,
  .main-swiper--tp .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    margin-right: 7px;
  }

  @media (max-width: 990px) {
    .main-swiper--tp .swiper-button-next {
      left: auto;
      right: unset;
      left: 92%;
      right: 0;
      top: 5%;
    }

    .main-swiper--tp .swiper-button-prev {
      left: 3%;
      right: unset;
      top: 5%;
    }

    .main-swiper--tp .swiper-pagination-bullet {
      width: 33px;
      height: 4px;
      display: inline-block;
      border-radius: 0;
    }

    .swiper-slide.mobile--tupperware svg {
      background: var(--tupperware-orange);
    }
  }
</style>

<div class="swiper main-swiper--tp">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide desktop--tupperware ">
        {% if block.settings.image_desktop != blank %}
          <a href="{{ block.settings.link }}">
            <img
              class="image-slider"
              style="width: 100%"
              src="{{ block.settings.image_desktop | img_url: 'master' }}"
            >
          </a>
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
      </div>
      <div class="swiper-slide mobile--tupperware">
        {% if block.settings.image_mobile != blank %}
          <a href="{{ block.settings.link }}">
            <img
              class="image-slider"
              style="width: 100%"
              src="{{ block.settings.image_mobile | img_url: 'master' }}"
            >
          </a>
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_224_340)">
      <path d="M-41 16L25 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M16 6.66666L25.3333 16L16 25.3333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
      <clipPath id="clip0_224_340">
      <rect width="32" height="32" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  </div>
  <div class="swiper-button-prev">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_629_10980)">
      <path d="M37 16H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M16 25.3333L6.66667 16L16 6.66666" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
      <clipPath id="clip0_629_10980">
      <rect width="32" height="32" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  var swiper = new Swiper('.main-swiper--tp', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>

{% schema %}
{
  "name": "TP Slider Mian",
  "tag": "section",
  "class": "tp-main-slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Add Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TP Slider Mian"
    }
  ]
}
{% endschema %}
